<h1>
  List of Outages of Interest to the User
  <br/>
  <small>
    User's home Page
  </small>
</h1>
<p>Last-viewed calendar of outages, or spreadsheet-like view of outages.</p>
<p>
  By default you're seeing the list of outages that affect the CIs you're watching,
  that happen in the next two weeks.
</p>
<ul>
  <li>Filters: radio buttons for all outages vs. only outages that I'm watching</li>
  <li>Filters: calendar selects for start and end date time</li>
  <li>Filters: check boxes for created by me, edited by me</li>
  <li>Filters: free-form/wildcard text search on CI name, outage descriptions, tags (TBC)</li>
  <li>Filters: Show me what's changed (TBC)</li>
  <li>Maybe more filters?</li>
</ul>

<h2>Filters</h2>

<%= form_tag "#" do %>
  <p>
    <%= label_tag "ci_name", "CI Name" %>
    <%= text_field_tag "ci_name" %>
  </p>
  <p>
    <%= label_tag "tags", "Tags" %>
    <%= text_field_tag "tags" %>
  </p>
  <p>
    <%= radio_button_tag :watching, "Watched", true %>
    <%= label_tag :watching, "Watched", value: "Watched" %>
    <%= radio_button_tag :watching, "All" %>
    <%= label_tag :watching, "All", value: "All" %>
  </p>
  <p>
    Add outages not watched by me but:
    <%= check_box_tag :created_by_me, 1, true %>
    <%= label_tag :created_by_me, "Created By Me" %>
    <%= check_box_tag :edited_by_me, 1, true %>
    <%= label_tag :edited_by_me, "Edited By Me" %>
  </p>
  <p>
    <%= label_tag "earliest", "Outages After" %>
    <%= datetime_field_tag "earliest", Time.zone.now.beginning_of_day.strftime("%Y-%m-%dT%H:%M") %>
    <%= label_tag "latest", "Outages Before" %>
    <%= datetime_field_tag "latest", (Time.zone.now.beginning_of_day + 2.weeks).strftime("%Y-%m-%dT%H:%M") %>
  </p>
<% end %>

<h2>Outages</h2>
<table>
  <thead>
    <tr>
      <td>
        Short Description
      </td>
      <td>
        Start Time
      </td>
      <td>
        End Time
      </td>
      <td>
        Completed?
      </td>
      <td>
        Status
      </td>
      <td>
        CIs
      </td>
      <td>
        Watch?
      </td>
    </tr>
  </thead>
  <tbody>
    <% @outage_list.each_with_index do |outage, index| %>
    <%# [1,2].each do |outage| %>

      <tr>
        <td>
          <% if current_user.can_edit_outages? %>
            <%= link_to outage["short_description"], edit_outage_path(index) %>
          <% else %>
            <%= link_to outage["short_description"], outage_path(index) %>
          <% end %>
        </td>
        <td>
          <%= outage["start_time"].strftime("%a, %d %b %Y %H:%M") %>
        </td>
        <td>
          <%= outage["end_time"].strftime("%a, %d %b %Y %H:%M") %>
        </td>
        <td>
          <%= outage["completed"] %>
        </td>
        <td>
          <%= outage["status"] %>
        </td>
        <td>
          <% if outage["cis"].size < 3 %>
            <% outage["cis"].each do |o| %>
              <p>
                <%= link_to o["ci"]["name"], edit_ci_path(o["id"]) %>
              </p>
            <% end %>
          <% else %>
            <p>
              <%= link_to outage["cis"][0]["ci"]["name"], edit_ci_path(outage["cis"][0]["id"]) %>
            </p>
            <p>
              <%= link_to outage["cis"][1]["ci"]["name"], edit_ci_path(outage["cis"][1]["id"]) %>
            </p>
            <p>
              <%= link_to "More .. ", outage_path(index) %>
            </p>
          <% end %>
        </td>
        <td>
          <p>
            <input type="checkbox" name="watch" value="Yes" checked>
            <!-- All watches have same properties, which come from user preferences -->
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <% if current_user.can_edit_outages? %>
    <%= link_to "<button>Add Outage</button>".html_safe, new_outage_path %>
  <% end %>
</p>
<hr>
<h4>Notes, Issues, Questions, Futures</h4>
<ul>
  <li>
    There are at least 3 options for long lists:
      <ul>
          <li>An intermediate page with the whole list (overlay)</li>
          <li>Max height plus scroll bar</li>
          <li>Jump to Outages page, where whole list is displayed.</li>
        </ul>
  </li>
</ul>
